[submodule "KlemmUI"]
	path = KlemmUI
	url = https://github.com/Klemmbaustein/KlemmUI.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
